user = User.first; 
user.username = '{{ gitlab_root_username }}'; 
user.password = '{{ gitlab_root_password }}'; 
user.password_confirmation = '{{ gitlab_root_password }}'; 
user.password_automatically_set = false;
user.save!